(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Eth,
Dcaron,
Dcroat,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
I,
Iacute,
Ibreve,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Obreve,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
eth,
dcaron,
dcroat,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
h,
i,
dotlessi,
iacute,
ibreve,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
itilde,
j,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
obreve,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
fi,
fl,
ordfeminine,
ordmasculine,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
onesuperior,
twosuperior,
threesuperior,
fraction,
onehalf,
onequarter,
threequarters,
asterisk,
backslash,
periodcentered,
bullet,
colon,
comma,
ellipsis,
exclam,
exclamdown,
numbersign,
period,
question,
questiondown,
quotedbl,
quotesingle,
semicolon,
slash,
underscore,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft,
parenright,
emdash,
endash,
hyphen,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotesinglbase,
space,
Euro,
cent,
currency,
dollar,
florin,
indianrupee,
ruble,
rupee,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
lozenge,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
liter,
daggerdbl,
estimated,
asciicircum,
acute,
breve,
caron,
cedilla,
circumflex,
dieresis,
dotaccent,
grave,
hungarumlaut,
macron,
ogonek,
ring,
tilde,
turkishlira,
Schwa,
schwa,
a.ss02,
aacute.ss02,
abreve.ss02,
acircumflex.ss02,
adieresis.ss02,
agrave.ss02,
amacron.ss02,
aogonek.ss02,
aring.ss02,
atilde.ss02,
zero.pnum,
one.pnum,
two.pnum,
three.pnum,
four.pnum,
five.pnum,
six.pnum,
seven.pnum,
eight.pnum,
nine.pnum,
two.ss04,
three.ss04,
six.ss04,
nine.ss04,
periodcentered.ss01,
colon.ss01,
two.pnum.ss04,
three.pnum.ss04,
six.pnum.ss04,
nine.pnum.ss04,
comma.ss01,
ellipsis.ss01,
exclam.ss01,
exclamdown.ss01,
period.ss01,
question.ss01,
questiondown.ss01,
semicolon.ss01,
quotedblleft.ss01,
quotedblright.ss01,
quoteleft.ss01,
quoteright.ss01,
divide.ss01,
ampersand.ss03
)